streamlit
librosa
numpy
scipy
soundfile
SpeechRecognition
google-generativeai
langdetect
gTTS
google-generativeai
google-generativeai
streamlit
librosa
numpy
scipy
soundfile
SpeechRecognition
langdetect
gTTS
streamlit
streamlit-webrtc
speechrecognition
pyaudio
gtts
langdetect
google-generativeai








